@media screen and (max-width: 2000px) {
    body, html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        padding: 0 20px;
        height: 64px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
    }
    
    .logo {
        width: 120px;
        height: 56px;
        margin-right: 40px;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: white;
        display: flex;
        text-align: center;
    }
    
    nav ul li {
        display: inline-block;
        position: relative;
        padding-right: 30px; /* 마지막 항목을 제외하고 오른쪽 패딩 추가 */
    }
    
    nav ul li:last-child {
        padding-right: 0; /* 마지막 항목의 오른쪽 패딩 제거 */
    }
    
    nav ul li a {
        display: block;
        padding: 10px 15px;
        color: black;
        text-decoration: none;
        text-align: center;  /* 모든 링크 텍스트를 가운데 정렬 */
    }
    
    nav ul li:hover {
        background-color: #b3fcf8;
    }
    
    nav ul li .dropdown-content {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        width: 150px; /* 너비를 150픽셀로 설정 */
        background-color: white;
        text-align: left;
    }
    
    nav ul li:hover .dropdown-content {
        display: block;
    }
    
    nav ul li .dropdown-content li {
        display: block;
        text-align: left; 
    }
    
    nav ul li .dropdown-content li a {
        display: block;
        padding: 10px 20px;
        color: black;
        text-decoration: none;
        text-align: left;
    }
    
    nav ul li .dropdown-content li a:hover {
        background-color: #b3fcf8;
    }


    .right-items {
        margin-left: auto;
    }
    
    .search {
        display: flex;
        align-items: center;
        margin-left: auto; /* 이 속성이 search 부분을 오른쪽으로 밀어냅니다. */
        cursor: pointer;
    }

    /* 버튼 테두리 없애기 */
    .search-button{
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s ease;
        border: none;
        background-color: transparent;
    }
    
    .search-button:hover {
        background-color: #f1f1f1;
        border-radius: 50%;
    }

    .search-button .fa-magnifying-glass {
        font-size: 24px;
        color: #333;
    }

    .search input {
        margin-right: 10px; /* 입력 필드와 버튼 사이의 간격 */
        width: 200px;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        outline: none;
        transition: width 0.3s ease-in-out;
    }


    .search-input:focus {
        width: 300px;
        border-color: #66afe9;
        box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    }

/* 글로벌 아이콘 */
.globe-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.globe-icon:hover {
    background-color: #f1f1f1;
    border-radius: 50%;
}

.globe-icon .fa-globe {
    font-size: 24px;
    color: #333;
}

.globe-icon .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
}

.globe-icon .dropdown-content li {
    display: block;
}

.globe-icon .dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s ease;
}

.globe-icon .dropdown-content li a:hover {
    background-color: #e9e9e9;
}


    .auth {
        display: flex;
        align-items: center;
        margin-right: 100px; /* 오른쪽에 자동 마진을 적용하여 왼쪽으로 이동 */
    }
    
    .auth a {
        padding: 5px 10px; /* 기존의 8px 16px에서 패딩 크기를 줄임 */
        margin-left: 5px; /* 각 링크 사이의 공간을 조정 */
        font-size: 12px; /* 텍스트 크기를 줄임 */
        background-color: #b3fcf8;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    
    .globe-icon {
        padding-left: 20px; /* 왼쪽에 20px 간격 */
        padding-right: 20px; /* 오른쪽에 20px 간격 */
    }


    /* 부모 컨테이너를 중앙 정렬 */
    .main-img {
        width: 100%;
        margin-top: 64px;  /* 헤더의 높이를 고려 */
        display: flex;
        justify-content: center;
        align-items: center; /* 세로 방향 중앙 정렬 추가 */
        padding: 50px 0; /* 상하 패딩을 설정 */
    }

    /* 이미지 컨테이너 */
    .image-container01 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px; /* 이미지 컨테이너에도 둥근 모서리 적용 */
        overflow: hidden; /* 둥근 모서리가 적용된 이미지를 보기 위해 오버플로우를 숨김 */
    }

    /* 이미지 스타일 */
    .rounded-img, .centered-img {
        border-radius: 50px;  /* 모서리의 둥근 정도를 설정 */
        max-width: 100%; /* 최대 너비를 설정하여 이미지가 컨테이너를 벗어나지 않도록 함 */
        height: auto; /* 높이를 자동으로 설정하여 비율을 유지 */
    }

    /* 게임 추천 친구 페이지 */
    /* 부모 컨테이너를 가운데 정렬 */
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* 카드들을 여러 줄로 배치 */
        gap: 20px; /* 카드 사이의 간격을 설정 */
    }

    /* 공통 카드 스타일 */
    .card, .game-card, .skill-card {
        position: relative;
        display: inline-block;
        width: 206px;
        height: 288px;
        border-radius: 16px;
        overflow: hidden;
        text-decoration: none;
        color: #242633;
        transition: all 0.3s ease;
    }

    /* 배경 스타일 */
    .card-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; /* 카드의 높이에 맞춤 */
        background-color: white;
        transition: background-color 0.3s ease;
        z-index: 1;
    }

    .card:hover .card-bg, .game-card:hover .card-bg, .skill-card:hover .card-bg {
        background-color: #b3fcf8;
    }

    /* 이미지 컨테이너 */
    .image-container, .card-image-container {
        position: absolute;
        top: 0;
        left: 12px;
        right: 12px;
        height: 230px;
        border-radius: 12px;
        overflow: hidden;
        z-index: 2;
    }

    /* 이미지 스타일 */
    .skill-image, .game-image, .card-image, .image-wrapper {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .card:hover .card-image, .game-card:hover .game-image, .skill-card:hover .skill-image {
        transform: scale(1.10);
    }

    /* 타이틀 스타일 */
    .card-title {
        position: absolute;
        bottom: 12px; /* Adjust bottom position for uniformity */
        left: 0;
        right: 0;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        z-index: 3;
        transition: color 0.3s, font-weight 0.3s;
    }

    .card:hover .card-title, .game-card:hover .card-title, .skill-card:hover .card-title {
        color: white;
        font-weight: bold;
    }

    /* 활동이 많은 추천 유저 */
    #recommended-users h2 {
        text-align: center; /* 가운데 정렬 */
        font-size: 24px;    /* 제목 폰트 크기 */
    }
    .plus {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #f9f9f9;
    }
    
    #recommended-users {
        text-align: center;
    }
    
    h2 {
        text-align: center;
        margin-top: 50px; /* 위에 공백 추가 */
    }
    
    /* 사용자 카드 스타일 */
    /* 카드 스타일 */
    .user-card {
        display: flex;
        flex-direction: column;
        width: 206px;
        background-color: white;
        border-radius: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
        margin: 9px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .user-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    /* 프로필 컨테이너 */
    .profile-container {
        position: relative;
        width: 100%;
        height: 238px;
        border-radius: 16px;
        overflow: hidden;
    }

    .image-container02 {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
    }

    .user-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .user-card:hover .user-image {
        transform: scale(1.10);
    }

    /* 사용자 정보 */
    .user-info {
        padding: 16px 16px; /* 패딩을 추가하여 공간을 더 줌 */
        flex: 1;
    }

    .user-name {
        font-size: 16px;
        font-weight: bold;
        color: #242633;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px; /* 이름 아래에 공간 추가 */
    }

    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px; /* 카드들 사이의 간격을 설정 */
    }

    footer {
        background-color: #666666;
        color: white;
        text-align: center;
        padding: 30px 0;
        margin-top: 40px; /* 위에 공백 추가 */
    }

    footer ul {
        display: flex;         /* Flexbox를 사용하여 내부 요소들을 가로로 정렬 */
        justify-content: center; /* 가로 중앙 정렬 */
        list-style: none;
        padding: 0;
        margin: 0; /* 상단, 하단 여백 제거 */
    }

    footer ul li {
        margin-right: 20px; /* 리스트 아이템 사이의 간격 조정 */
    }

    footer ul li:last-child {
        margin-right: 0; /* 마지막 리스트 아이템의 오른쪽 마진 제거 */
    }

    footer ul li a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        transition: color 0.3s; /* 링크에 마우스를 올렸을 때 색상 변경 효과 추가 */
    }

    footer ul li a:hover {
        color: #cccccc; /* 링크에 마우스 오버 시 색상 변경 */
    }

}