body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.logo {
    width: 160px;
    height: 80px;
}

h3{
    color: #353535;
    margin-bottom: 0px;
    margin-top: -40px;
}

.login-box, .flu-login-box {
    width: 600px;
    height: 480px;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
    flex-direction: column; /* 수직 정렬을 위한 설정 */
    align-items: center; /* 가로축 중앙 정렬 */
    justify-content: space-around; /* 내부 요소들 사이의 공간을 균등하게 분배 */
}
.login-box.active, .flu-login-box.active {
    display: flex; /* 활성화시 flex로 변경 */
}
.login-box .logo, .flu-login-box .logo {
    margin: 20px 0;
}
.login-box .event, .flu-login-box .event {
    margin: 20px 0;
}
.login-box .login-buttons button, .flu-login-box .login-buttons button {
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-box .login-buttons button:hover, .flu-login-box .login-buttons button:hover {
    background-color: #d0d0d0;
}

#input1, #input2 {
    width: 300px; /* #input2의 너비 조정 */
    height: 50px;
    background-color: white;
    border: 3px solid #d0d0d0;
    border-radius: 10px;
    margin-bottom: 20px; /* 요소간 간격 조정 */
}

.login-button {
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}